* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: black;
}
.main {
  height: 100vh;
  width: 100vw;
  background-image: url(assets/gradient.png);
  position: relative;
}

.shadow1 {
  height: 10rem;
  width: 10rem;
  position: absolute;
  top: 15%;
  right: 0%;
  box-shadow: 0 0 700px 15px white;
  rotate: -20deg;
  background-color: transparent;
  background: transparent;
  z-index: 1;
}

.hero-page {
  height: 100%;
  width: 100%;
  position: absolute;
}

.navbar {
    position: absolute;
  height: 10%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  
}
.logo-div {
  color: white;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.btn{
    padding: 0.5rem 1.5rem;
    margin: 1rem;
    border-radius: 15px;
}

.hero-content{
    height: 60%;
    width: 40%;
    color: white;
    position: relative;
    margin: 160px 0px 0px 80px;
}

.text1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 4rem;
    margin-bottom: 20px;
}

.text2{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 20px;
}

#text-btn{
    padding: 0.9rem 3rem;
    background: red;
    color: white;
    border-radius: 15px;
}